*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sideBar{
    padding: 15px 15px;
    background-color: #F6F4FF;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sideBar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.sideBar ul li{
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sideBar ul li img{
    height: 30px;
    filter: invert(1);
    transition: 0.3s;
    
}

.sideBar ul li a{
    width: 100%;
    padding: 5%;
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: black;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

.sideBar ul li a:hover{
    color: white;
    background-color: #8370FE;
    box-shadow: 0 0 10px rgba(131, 112, 254, 0.8);
}
.sideBar ul li a:hover img {
    filter: invert(0);
}